<div class="container no-gutters">
    <div class="d-flex flex-row align-items-end justify-content-between row no-gutters"
        style="padding-top: 15px;">
        <h1>Ethoca Marketplace</h1>
    </div>
    <router-outlet></router-outlet>
</div>