<div class="row">
    <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
        <h4 style="padding-left: 20px;">Welcome to the marketplace</h4>
        <app-shopping-cart></app-shopping-cart>
    </div>
</div>
<ng-container *ngIf="(catalogueItems | async) as items$; else loadingItems">
    <ng-container *ngIf="items$.length > 0">
        <table style="width: 100%;">
            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product SKU</th>
                <th></th>
            </tr>
            <tr *ngFor="let item of items$">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.sku}}</td>
                <td class="d-flex flex-row justify-content-around">
                    <span><label style="padding-right: 10px;">Quantity: </label> <input type="number" #quantity></span>
                    <button (click)="addItemToCart(item, quantity.value); quantity.value = ''">Add to cart</button>
                </td>
            </tr>
        </table>
    </ng-container>
    <ng-template #noItems>
        <p>There are no items in the marketplace today :(</p>
    </ng-template>
</ng-container>
<ng-template #loadingItems>
    <p>Loading...</p>
</ng-template>
