<h4>Thank you for your purchase!</h4>
<p>Your order summary: </p>
<div class="row">
    <div class="col-sm-12">
        <table style="width: 100%;">
            <tr>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>Item SKU</th>
                <th>Quantity</th>
            </tr>
            <tr *ngFor="let item of items">
                <td>{{item.item.name}}</td>
                <td>{{item.item.description}}</td>
                <td>{{item.item.sku}}</td>
                <td>{{item.quantity}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-12">
        <button (click)="navigateToCatalogue()">Continue Shopping</button>
    </div>
</div>