<div class="d-flex flex-row">
    <h3>Your cart:</h3>
    <i class="fa fa-shopping-cart fa-2x"></i>
    <sup>{{shoppingCart.length}}</sup>
</div>
<div class="d-flex flex-row justify-content-end">
    <button (click)="navigateToCheckout()">Checkout</button>
</div>