<h4>Checkout</h4>
<div class="row">
    <div class="col-sm-12">
        <table style="width: 100%;">
            <tr>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>SKU</th>
            </tr>
            <tr *ngFor="let item of shoppingCart;">
                <td>{{item.item.name}}</td>
                <td>{{item.item.description}}</td>
                <td>{{item.item.sku}}</td>
                <td class="d-flex flex-row align-items-center" >
                    Quantity: <input type="number" style="margin-left: 10px;" [ngModel]="item.quantity" (ngModelChange)="item.quantity =$event; enableEditButton()">
                </td>
                <td><button (click)="removeItemFromCart(item.item.sku)">Remove Item</button></td>
            </tr>
        </table>
    </div>

    <div class="d-flex flex-row" style="padding-top: 20px; width: 100%;">
        <div class="align-self-start col-sm-4">
            <button (click)="navigateToCatalogue()">Continue shopping</button>
        </div>
        <div class="d-flex flex-row col-sm-8 justify-content-end">
            <button *ngIf="isEditEnabled" (click)="updateCart()">Update cart</button>
            <button (click)="confirmPurchase()">Confirm purchase</button>
        </div>
    </div>
</div>